
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form method="post">
        <input type="text" name="userName" placeholder="userName" />
        <input type="text" name="password" placeholder="password" />
        <input type="submit" value="Login" />
    </form>
</body>
</html>
