
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>@(ViewBag.FullName)</p>
    <p><a href="/Account/Logout">خروج</a></p>
    <p><a href="/Routine/Index">تعریف روال</a></p>
</body>
</html>
